## Collaborative Filtering - extract only PID, track_uri and pos

In [1]:
import json
import numpy as np
from time import time
import pandas as pd
from pandas.io.json import json_normalize
import os
import concurrent.futures
import functools
import random
import gc
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
path = '../dataset/spotify_million_playlist_dataset/data/'

In [3]:
keys = [
    'pid',
#     'name',
#     'description',
#     'num_artists',
#     'num_albums',
#     'num_tracks',
#     'num_followers',
#     'duration_ms',
#     'collaborative',
    'tracks'
]

In [4]:
t0=time()
samp = 500
arr = np.empty((samp*300*1000,4), dtype = object)
filenames = os.listdir(path)
num = 0
for i, filename in enumerate(random.sample(sorted(filenames), samp)):
    if filename.startswith("mpd.slice.") and filename.endswith(".json"):
        fullpath = os.sep.join((path, filename))
        f = open(fullpath)
        js = f.read()
        f.close()
        mpd_slice = json.loads(js)
        D = pd.DataFrame(mpd_slice['playlists'])[keys]
        df = pd.DataFrame(D, columns=['pid','tracks'])
        idx = df.set_index(['pid']).tracks.apply(pd.Series).stack().index
        df = pd.DataFrame(df.set_index(['pid']).tracks.apply(pd.Series).stack().values.tolist(),index=idx).reset_index().drop('level_1',1)
        arr0 = df[['pid','pos','track_uri','artist_uri']].to_numpy()
        arr[num:num+len(df),:] = arr0
        num = num+len(df)
        
        print(filename,i)
# Time diff
print(f"Time taken: {(time()-t0)/60}")

mpd.slice.830000-830999.json 0
mpd.slice.591000-591999.json 1
mpd.slice.801000-801999.json 2
mpd.slice.734000-734999.json 3
mpd.slice.726000-726999.json 4
mpd.slice.154000-154999.json 5
mpd.slice.636000-636999.json 6
mpd.slice.661000-661999.json 7
mpd.slice.652000-652999.json 8
mpd.slice.564000-564999.json 9
mpd.slice.716000-716999.json 10
mpd.slice.403000-403999.json 11
mpd.slice.458000-458999.json 12
mpd.slice.791000-791999.json 13
mpd.slice.633000-633999.json 14
mpd.slice.226000-226999.json 15
mpd.slice.53000-53999.json 16
mpd.slice.218000-218999.json 17
mpd.slice.471000-471999.json 18
mpd.slice.883000-883999.json 19
mpd.slice.473000-473999.json 20
mpd.slice.934000-934999.json 21
mpd.slice.92000-92999.json 22
mpd.slice.284000-284999.json 23
mpd.slice.546000-546999.json 24
mpd.slice.349000-349999.json 25
mpd.slice.142000-142999.json 26
mpd.slice.109000-109999.json 27
mpd.slice.736000-736999.json 28
mpd.slice.64000-64999.json 29
mpd.slice.191000-191999.json 30
mpd.slice.696000-696999.json 31
mpd.slice.743000-743999.json 32
mpd.slice.72000-72999.json 33
mpd.slice.699000-699999.json 34
mpd.slice.88000-88999.json 35
mpd.slice.607000-607999.json 36
mpd.slice.485000-485999.json 37
mpd.slice.379000-379999.json 38
mpd.slice.993000-993999.json 39
mpd.slice.123000-123999.json 40
mpd.slice.980000-980999.json 41
mpd.slice.341000-341999.json 42
mpd.slice.826000-826999.json 43
mpd.slice.206000-206999.json 44
mpd.slice.10000-10999.json 45
mpd.slice.996000-996999.json 46
mpd.slice.100000-100999.json 47
mpd.slice.86000-86999.json 48
mpd.slice.281000-281999.json 49
mpd.slice.463000-463999.json 50
mpd.slice.365000-365999.json 51
mpd.slice.195000-195999.json 52
mpd.slice.857000-857999.json 53
mpd.slice.127000-127999.json 54
mpd.slice.885000-885999.json 55
mpd.slice.4000-4999.json 56
mpd.slice.486000-486999.json 57
mpd.slice.906000-906999.json 58
mpd.slice.186000-186999.json 59
mpd.slice.890000-890999.json 60
mpd.slice.250000-250999.json 61
mpd.slice.804000-804999.json 62
mpd.slice.616000-616999.json 63
mpd.slice.893000-893999.json 64
mpd.slice.433000-433999.json 65
mpd.slice.211000-211999.json 66
mpd.slice.459000-459999.json 67
mpd.slice.972000-972999.json 68
mpd.slice.447000-447999.json 69
mpd.slice.312000-312999.json 70
mpd.slice.9000-9999.json 71
mpd.slice.8000-8999.json 72
mpd.slice.103000-103999.json 73
mpd.slice.33000-33999.json 74
mpd.slice.720000-720999.json 75
mpd.slice.886000-886999.json 76
mpd.slice.214000-214999.json 77
mpd.slice.60000-60999.json 78
mpd.slice.532000-532999.json 79
mpd.slice.359000-359999.json 80
mpd.slice.948000-948999.json 81
mpd.slice.239000-239999.json 82
mpd.slice.515000-515999.json 83
mpd.slice.419000-419999.json 84
mpd.slice.882000-882999.json 85
mpd.slice.789000-789999.json 86
mpd.slice.744000-744999.json 87
mpd.slice.271000-271999.json 88
mpd.slice.0-999.json 89
mpd.slice.213000-213999.json 90
mpd.slice.982000-982999.json 91
mpd.slice.344000-344999.json 92
mpd.slice.256000-256999.json 93
mpd.slice.995000-995999.json 94
mpd.slice.818000-818999.json 95
mpd.slice.921000-921999.json 96
mpd.slice.317000-317999.json 97
mpd.slice.160000-160999.json 98
mpd.slice.724000-724999.json 99
mpd.slice.671000-671999.json 100
mpd.slice.823000-823999.json 101
mpd.slice.117000-117999.json 102
mpd.slice.712000-712999.json 103
mpd.slice.16000-16999.json 104
mpd.slice.805000-805999.json 105
mpd.slice.20000-20999.json 106
mpd.slice.728000-728999.json 107
mpd.slice.551000-551999.json 108
mpd.slice.148000-148999.json 109
mpd.slice.900000-900999.json 110
mpd.slice.261000-261999.json 111
mpd.slice.735000-735999.json 112
mpd.slice.89000-89999.json 113
mpd.slice.101000-101999.json 114
mpd.slice.590000-590999.json 115
mpd.slice.777000-777999.json 116
mpd.slice.656000-656999.json 117
mpd.slice.332000-332999.json 118
mpd.slice.554000-554999.json 119
mpd.slice.986000-986999.json 120
mpd.slice.285000-285999.json 121
mpd.slice.737000-737999.json 122
mpd.slice.229000-229999.json 123
mpd.slice.342000-342999.json 124
mpd.slice.926000-926999.json 125
mpd.slice.376000-376999.json 126
mpd.slice.540000-540999.json 127
mpd.slice.920000-920999.json 128
mpd.slice.43000-43999.json 129
mpd.slice.643000-643999.json 130
mpd.slice.939000-939999.json 131
mpd.slice.157000-157999.json 132
mpd.slice.610000-610999.json 133
mpd.slice.455000-455999.json 134
mpd.slice.179000-179999.json 135
mpd.slice.766000-766999.json 136
mpd.slice.135000-135999.json 137
mpd.slice.967000-967999.json 138
mpd.slice.945000-945999.json 139
mpd.slice.865000-865999.json 140
mpd.slice.98000-98999.json 141
mpd.slice.757000-757999.json 142
mpd.slice.831000-831999.json 143
mpd.slice.172000-172999.json 144
mpd.slice.442000-442999.json 145
mpd.slice.375000-375999.json 146
mpd.slice.232000-232999.json 147
mpd.slice.461000-461999.json 148
mpd.slice.853000-853999.json 149
mpd.slice.923000-923999.json 150
mpd.slice.609000-609999.json 151
mpd.slice.601000-601999.json 152
mpd.slice.134000-134999.json 153
mpd.slice.741000-741999.json 154
mpd.slice.121000-121999.json 155
mpd.slice.177000-177999.json 156
mpd.slice.383000-383999.json 157
mpd.slice.877000-877999.json 158
mpd.slice.392000-392999.json 159
mpd.slice.110000-110999.json 160
mpd.slice.691000-691999.json 161
mpd.slice.493000-493999.json 162
mpd.slice.315000-315999.json 163
mpd.slice.91000-91999.json 164
mpd.slice.844000-844999.json 165
mpd.slice.378000-378999.json 166
mpd.slice.405000-405999.json 167
mpd.slice.517000-517999.json 168
mpd.slice.637000-637999.json 169
mpd.slice.183000-183999.json 170
mpd.slice.802000-802999.json 171
mpd.slice.600000-600999.json 172
mpd.slice.631000-631999.json 173
mpd.slice.299000-299999.json 174
mpd.slice.65000-65999.json 175
mpd.slice.73000-73999.json 176
mpd.slice.305000-305999.json 177
mpd.slice.524000-524999.json 178
mpd.slice.222000-222999.json 179
mpd.slice.669000-669999.json 180
mpd.slice.11000-11999.json 181
mpd.slice.389000-389999.json 182
mpd.slice.144000-144999.json 183
mpd.slice.505000-505999.json 184
mpd.slice.648000-648999.json 185
mpd.slice.325000-325999.json 186
mpd.slice.476000-476999.json 187
mpd.slice.985000-985999.json 188
mpd.slice.137000-137999.json 189
mpd.slice.286000-286999.json 190
mpd.slice.180000-180999.json 191
mpd.slice.924000-924999.json 192
mpd.slice.549000-549999.json 193
mpd.slice.220000-220999.json 194
mpd.slice.230000-230999.json 195
mpd.slice.710000-710999.json 196
mpd.slice.420000-420999.json 197
mpd.slice.604000-604999.json 198
mpd.slice.225000-225999.json 199
mpd.slice.725000-725999.json 200
mpd.slice.221000-221999.json 201
mpd.slice.314000-314999.json 202
mpd.slice.49000-49999.json 203
mpd.slice.689000-689999.json 204
mpd.slice.881000-881999.json 205
mpd.slice.904000-904999.json 206
mpd.slice.618000-618999.json 207
mpd.slice.499000-499999.json 208
mpd.slice.209000-209999.json 209
mpd.slice.537000-537999.json 210
mpd.slice.821000-821999.json 211
mpd.slice.107000-107999.json 212
mpd.slice.629000-629999.json 213
mpd.slice.338000-338999.json 214
mpd.slice.115000-115999.json 215
mpd.slice.292000-292999.json 216
mpd.slice.216000-216999.json 217
mpd.slice.513000-513999.json 218
mpd.slice.412000-412999.json 219
mpd.slice.82000-82999.json 220
mpd.slice.681000-681999.json 221
mpd.slice.968000-968999.json 222
mpd.slice.44000-44999.json 223
mpd.slice.203000-203999.json 224
mpd.slice.860000-860999.json 225
mpd.slice.559000-559999.json 226
mpd.slice.721000-721999.json 227
mpd.slice.217000-217999.json 228
mpd.slice.509000-509999.json 229
mpd.slice.381000-381999.json 230
mpd.slice.48000-48999.json 231
mpd.slice.999000-999999.json 232
mpd.slice.290000-290999.json 233
mpd.slice.482000-482999.json 234
mpd.slice.387000-387999.json 235
mpd.slice.593000-593999.json 236
mpd.slice.309000-309999.json 237
mpd.slice.679000-679999.json 238
mpd.slice.645000-645999.json 239
mpd.slice.181000-181999.json 240
mpd.slice.659000-659999.json 241
mpd.slice.451000-451999.json 242
mpd.slice.47000-47999.json 243
mpd.slice.406000-406999.json 244
mpd.slice.318000-318999.json 245
mpd.slice.118000-118999.json 246
mpd.slice.196000-196999.json 247
mpd.slice.70000-70999.json 248
mpd.slice.914000-914999.json 249
mpd.slice.809000-809999.json 250
mpd.slice.243000-243999.json 251
mpd.slice.525000-525999.json 252
mpd.slice.901000-901999.json 253

mpd.slice.45000-45999.json 254
mpd.slice.335000-335999.json 255
mpd.slice.562000-562999.json 256
mpd.slice.705000-705999.json 257
mpd.slice.933000-933999.json 258
mpd.slice.798000-798999.json 259
mpd.slice.727000-727999.json 260
mpd.slice.841000-841999.json 261
mpd.slice.998000-998999.json 262
mpd.slice.340000-340999.json 263
mpd.slice.357000-357999.json 264
mpd.slice.507000-507999.json 265
mpd.slice.345000-345999.json 266
mpd.slice.484000-484999.json 267
mpd.slice.385000-385999.json 268
mpd.slice.854000-854999.json 269
mpd.slice.147000-147999.json 270
mpd.slice.783000-783999.json 271
mpd.slice.390000-390999.json 272
mpd.slice.439000-439999.json 273
mpd.slice.690000-690999.json 274
mpd.slice.992000-992999.json 275
mpd.slice.863000-863999.json 276
mpd.slice.640000-640999.json 277
mpd.slice.807000-807999.json 278
mpd.slice.519000-519999.json 279
mpd.slice.90000-90999.json 280
mpd.slice.632000-632999.json 281
mpd.slice.187000-187999.json 282
mpd.slice.176000-176999.json 283
mpd.slice.887000-887999.json 284
mpd.slice.870000-870999.json 285
mpd.slice.770000-770999.json 286
mpd.slice.465000-465999.json 287
mpd.slice.17000-17999.json 288
mpd.slice.913000-913999.json 289
mpd.slice.489000-489999.json 290
mpd.slice.291000-291999.json 291
mpd.slice.150000-150999.json 292
mpd.slice.792000-792999.json 293
mpd.slice.846000-846999.json 294
mpd.slice.307000-307999.json 295
mpd.slice.483000-483999.json 296
mpd.slice.756000-756999.json 297
mpd.slice.114000-114999.json 298
mpd.slice.878000-878999.json 299
mpd.slice.850000-850999.json 300
mpd.slice.555000-555999.json 301
mpd.slice.364000-364999.json 302
mpd.slice.951000-951999.json 303
mpd.slice.763000-763999.json 304
mpd.slice.58000-58999.json 305
mpd.slice.253000-253999.json 306
mpd.slice.273000-273999.json 307
mpd.slice.466000-466999.json 308
mpd.slice.514000-514999.json 309
mpd.slice.812000-812999.json 310
mpd.slice.711000-711999.json 311
mpd.slice.112000-112999.json 312
mpd.slice.958000-958999.json 313
mpd.slice.663000-663999.json 314
mpd.slice.506000-506999.json 315
mpd.slice.302000-302999.json 316
mpd.slice.7000-7999.json 317
mpd.slice.806000-806999.json 318
mpd.slice.77000-77999.json 319
mpd.slice.76000-76999.json 320
mpd.slice.426000-426999.json 321
mpd.slice.23000-23999.json 322
mpd.slice.139000-139999.json 323
mpd.slice.615000-615999.json 324
mpd.slice.189000-189999.json 325
mpd.slice.526000-526999.json 326
mpd.slice.654000-654999.json 327
mpd.slice.572000-572999.json 328
mpd.slice.28000-28999.json 329
mpd.slice.758000-758999.json 330
mpd.slice.57000-57999.json 331
mpd.slice.67000-67999.json 332
mpd.slice.536000-536999.json 333
mpd.slice.393000-393999.json 334
mpd.slice.12000-12999.json 335
mpd.slice.382000-382999.json 336
mpd.slice.931000-931999.json 337
mpd.slice.136000-136999.json 338
mpd.slice.346000-346999.json 339
mpd.slice.294000-294999.json 340
mpd.slice.267000-267999.json 341
mpd.slice.594000-594999.json 342
mpd.slice.874000-874999.json 343
mpd.slice.983000-983999.json 344
mpd.slice.260000-260999.json 345
mpd.slice.55000-55999.json 346
mpd.slice.479000-479999.json 347
mpd.slice.496000-496999.json 348
mpd.slice.159000-159999.json 349
mpd.slice.68000-68999.json 350
mpd.slice.128000-128999.json 351
mpd.slice.764000-764999.json 352
mpd.slice.41000-41999.json 353
mpd.slice.529000-529999.json 354
mpd.slice.508000-508999.json 355
mpd.slice.665000-665999.json 356
mpd.slice.969000-969999.json 357
mpd.slice.522000-522999.json 358
mpd.slice.785000-785999.json 359
mpd.slice.824000-824999.json 360
mpd.slice.697000-697999.json 361
mpd.slice.204000-204999.json 362
mpd.slice.586000-586999.json 363
mpd.slice.386000-386999.json 364
mpd.slice.952000-952999.json 365
mpd.slice.936000-936999.json 366
mpd.slice.768000-768999.json 367
mpd.slice.277000-277999.json 368
mpd.slice.718000-718999.json 369
mpd.slice.275000-275999.json 370
mpd.slice.599000-599999.json 371
mpd.slice.502000-502999.json 372
mpd.slice.384000-384999.json 373
mpd.slice.556000-556999.json 374
mpd.slice.259000-259999.json 375
mpd.slice.674000-674999.json 376
mpd.slice.978000-978999.json 377
mpd.slice.583000-583999.json 378
mpd.slice.673000-673999.json 379
mpd.slice.415000-415999.json 380
mpd.slice.742000-742999.json 381
mpd.slice.873000-873999.json 382
mpd.slice.695000-695999.json 383
mpd.slice.308000-308999.json 384
mpd.slice.125000-125999.json 385
mpd.slice.158000-158999.json 386
mpd.slice.282000-282999.json 387
mpd.slice.106000-106999.json 388
mpd.slice.981000-981999.json 389
mpd.slice.372000-372999.json 390
mpd.slice.251000-251999.json 391
mpd.slice.510000-510999.json 392
mpd.slice.759000-759999.json 393
mpd.slice.634000-634999.json 394
mpd.slice.512000-512999.json 395
mpd.slice.133000-133999.json 396
mpd.slice.254000-254999.json 397
mpd.slice.6000-6999.json 398
mpd.slice.585000-585999.json 399
mpd.slice.940000-940999.json 400
mpd.slice.547000-547999.json 401
mpd.slice.542000-542999.json 402
mpd.slice.574000-574999.json 403
mpd.slice.66000-66999.json 404
mpd.slice.520000-520999.json 405
mpd.slice.781000-781999.json 406
mpd.slice.623000-623999.json 407
mpd.slice.638000-638999.json 408
mpd.slice.36000-36999.json 409
mpd.slice.535000-535999.json 410
mpd.slice.437000-437999.json 411
mpd.slice.71000-71999.json 412
mpd.slice.146000-146999.json 413
mpd.slice.868000-868999.json 414
mpd.slice.707000-707999.json 415
mpd.slice.769000-769999.json 416
mpd.slice.628000-628999.json 417
mpd.slice.416000-416999.json 418
mpd.slice.472000-472999.json 419
mpd.slice.953000-953999.json 420
mpd.slice.658000-658999.json 421
mpd.slice.932000-932999.json 422
mpd.slice.820000-820999.json 423
mpd.slice.503000-503999.json 424
mpd.slice.767000-767999.json 425
mpd.slice.534000-534999.json 426
mpd.slice.859000-859999.json 427
mpd.slice.903000-903999.json 428
mpd.slice.797000-797999.json 429
mpd.slice.488000-488999.json 430
mpd.slice.667000-667999.json 431
mpd.slice.929000-929999.json 432
mpd.slice.639000-639999.json 433
mpd.slice.104000-104999.json 434
mpd.slice.889000-889999.json 435
mpd.slice.300000-300999.json 436
mpd.slice.834000-834999.json 437
mpd.slice.401000-401999.json 438
mpd.slice.527000-527999.json 439
mpd.slice.408000-408999.json 440
mpd.slice.293000-293999.json 441
mpd.slice.888000-888999.json 442
mpd.slice.240000-240999.json 443
mpd.slice.975000-975999.json 444
mpd.slice.39000-39999.json 445
mpd.slice.653000-653999.json 446
mpd.slice.207000-207999.json 447
mpd.slice.794000-794999.json 448
mpd.slice.111000-111999.json 449
mpd.slice.943000-943999.json 450
mpd.slice.407000-407999.json 451
mpd.slice.565000-565999.json 452
mpd.slice.328000-328999.json 453
mpd.slice.796000-796999.json 454
mpd.slice.855000-855999.json 455
mpd.slice.198000-198999.json 456
mpd.slice.787000-787999.json 457
mpd.slice.717000-717999.json 458
mpd.slice.316000-316999.json 459
mpd.slice.840000-840999.json 460
mpd.slice.780000-780999.json 461
mpd.slice.296000-296999.json 462
mpd.slice.297000-297999.json 463
mpd.slice.864000-864999.json 464
mpd.slice.867000-867999.json 465
mpd.slice.856000-856999.json 466
mpd.slice.79000-79999.json 467
mpd.slice.750000-750999.json 468
mpd.slice.126000-126999.json 469
mpd.slice.799000-799999.json 470
mpd.slice.602000-602999.json 471
mpd.slice.732000-732999.json 472
mpd.slice.751000-751999.json 473
mpd.slice.749000-749999.json 474
mpd.slice.201000-201999.json 475
mpd.slice.837000-837999.json 476
mpd.slice.708000-708999.json 477
mpd.slice.692000-692999.json 478
mpd.slice.733000-733999.json 479
mpd.slice.27000-27999.json 480
mpd.slice.827000-827999.json 481
mpd.slice.608000-608999.json 482
mpd.slice.99000-99999.json 483
mpd.slice.771000-771999.json 484
mpd.slice.319000-319999.json 485
mpd.slice.347000-347999.json 486
mpd.slice.531000-531999.json 487
mpd.slice.399000-399999.json 488
mpd.slice.872000-872999.json 489
mpd.slice.75000-75999.json 490
mpd.slice.29000-29999.json 491
mpd.slice.324000-324999.json 492
mpd.slice.930000-930999.json 493
mpd.slice.32000-32999.json 494
mpd.slice.550000-550999.json 495
mpd.slice.647000-647999.json 496
mpd.slice.268000-268999.json 497
mpd.slice.650000-650999.json 498
mpd.slice.786000-786999.json 499
Time taken: 8.74842434724172

In [5]:
gc.collect()

20

In [6]:
arr.shape

(150000000, 4)

In [7]:
df = pd.DataFrame(arr)

In [8]:
df.columns=['pid','pos','track_uri', 'artist_uri']

In [9]:
df=df[df.isnull().any(axis=1)==False]

In [10]:
df.shape

(33211760, 4)

In [11]:
df.isnull().sum()

pid           0
pos           0
track_uri     0
artist_uri    0
dtype: int64

In [12]:
df.to_csv(f'../data-processed/scale-down/pid-track-artist-scaled-{samp}.csv', index = None)

## Add binary and scaled rating

In [13]:
df = pd.read_csv(f'../data-processed/scale-down/pid-track-artist-scaled-{samp}.csv')

In [14]:
df.head()

,pid,pos,track_uri,artist_uri
0,830000,0,spotify:track:0oOCpb17DwBfvQ9Xbr9IYg,spotify:artist:0HjYETXAvcL6mzaKjAmH2K
1,830000,1,spotify:track:6Knv6wdA0luoMUuuoYi2i1,spotify:artist:0jnsk9HBra6NMjO2oANoPY
2,830000,2,spotify:track:1BfPC2cHY3m9RIstE4cjr5,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK
3,830000,3,spotify:track:0uwmgMXqoJ7wh102MTHTN7,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK
4,830000,4,spotify:track:4jTiyLlOJVJj3mCr7yfPQD,spotify:artist:7iZtZyCzp3LItcw1wtPI3D

In [15]:
df.dtypes

pid            int64
pos            int64
track_uri     object
artist_uri    object
dtype: object

### Binary scaling

In [16]:
df['binary_rating'] = 1

### Scale 1 to 10

In [17]:
df.head()

,pid,pos,track_uri,artist_uri,binary_rating
0,830000,0,spotify:track:0oOCpb17DwBfvQ9Xbr9IYg,spotify:artist:0HjYETXAvcL6mzaKjAmH2K,1
1,830000,1,spotify:track:6Knv6wdA0luoMUuuoYi2i1,spotify:artist:0jnsk9HBra6NMjO2oANoPY,1
2,830000,2,spotify:track:1BfPC2cHY3m9RIstE4cjr5,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1
3,830000,3,spotify:track:0uwmgMXqoJ7wh102MTHTN7,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1
4,830000,4,spotify:track:4jTiyLlOJVJj3mCr7yfPQD,spotify:artist:7iZtZyCzp3LItcw1wtPI3D,1

In [18]:
df['pos_max'] = df.groupby('pid')['pos'].transform('max')
df['pos_rating'] = (9*(df['pos_max'] - df['pos'])/(df['pos_max']))+1
df=df.drop(columns=['pos_max'], axis =1 )

In [19]:
df.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating
0,830000,0,spotify:track:0oOCpb17DwBfvQ9Xbr9IYg,spotify:artist:0HjYETXAvcL6mzaKjAmH2K,1,10.000
1,830000,1,spotify:track:6Knv6wdA0luoMUuuoYi2i1,spotify:artist:0jnsk9HBra6NMjO2oANoPY,1,9.875
2,830000,2,spotify:track:1BfPC2cHY3m9RIstE4cjr5,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.750
3,830000,3,spotify:track:0uwmgMXqoJ7wh102MTHTN7,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.625
4,830000,4,spotify:track:4jTiyLlOJVJj3mCr7yfPQD,spotify:artist:7iZtZyCzp3LItcw1wtPI3D,1,9.500

In [20]:
df[['pid','track_uri','binary_rating','pos_rating']].to_csv(f'../data-processed/pid-track-ratings-scaled-{samp}.csv', index = None)

## Hold out playlists for testing - to be used for R-precision and NDGC calculation

In [21]:
pids = pd.DataFrame(df.groupby('pid')['pos'].max()).reset_index()
pids.columns=['pid','num_tracks']
pids['train_test'] = np.where(np.random.rand(len(pids),1)<=0.7,'train','test')

In [22]:
pids.head()

   pid  num_tracks train_test
0    0          51      train
1    1          38       test
2    2          63       test
3    3         125      train
4    4          16       test

In [23]:
D_num_tracks={}
for index, row in pids.iterrows():
    D_num_tracks[row['pid']] = row['num_tracks']

In [24]:
pids.describe()

                 pid    num_tracks
count  500000.000000  500000.00000
mean   497895.500000      65.42352
std    291910.679732      53.71380
min         0.000000       4.00000
25%    237499.750000      25.00000
50%    509999.500000      48.00000
75%    752999.250000      91.00000
max    999999.000000     375.00000

In [25]:
holdout_array = [0.5,0.6,0.7,0.8,0.9,0.95]
first_random = ['first','random']

In [26]:
pids['test_first_random'] = np.random.randint(0, 2, pids.shape[0])

In [27]:
pids['test_hould_out_pct'] = [random.choice(holdout_array)*100 for i in range(len(pids))]
pids['seed_tracks_num'] = np.ceil(pids['num_tracks']*(1-pids['test_hould_out_pct']/100))
pids['seed_tracks_num'] = np.where(pids['seed_tracks_num']>100,100, pids['seed_tracks_num'])

In [28]:
pids['train_test'].value_counts()

train    350603
test     149397
Name: train_test, dtype: int64

In [29]:
D_test_train={}
for index, row in pids.iterrows():
    D_test_train[row['pid']] = row['train_test']

In [30]:
D_test_first_random={}
for index, row in pids.iterrows():
    D_test_first_random[row['pid']] = row['test_first_random']

In [31]:
D_seed_tracks_num={}
for index, row in pids.iterrows():
    D_seed_tracks_num[row['pid']] = row['seed_tracks_num']

In [32]:
df['train_test'] = df['pid'].map(D_test_train)
df['test_first_random'] = df['pid'].map(D_test_first_random)
df['seed_tracks_num'] = df['pid'].map(D_seed_tracks_num)

In [33]:
df['train_test'].value_counts()

train    23274032
test      9937728
Name: train_test, dtype: int64

In [34]:
df['num_tracks'] = df['pid'].map(D_num_tracks)

In [35]:
df.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks
0,830000,0,spotify:track:0oOCpb17DwBfvQ9Xbr9IYg,spotify:artist:0HjYETXAvcL6mzaKjAmH2K,1,10.000,train,0,15.0,72
1,830000,1,spotify:track:6Knv6wdA0luoMUuuoYi2i1,spotify:artist:0jnsk9HBra6NMjO2oANoPY,1,9.875,train,0,15.0,72
2,830000,2,spotify:track:1BfPC2cHY3m9RIstE4cjr5,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.750,train,0,15.0,72
3,830000,3,spotify:track:0uwmgMXqoJ7wh102MTHTN7,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.625,train,0,15.0,72
4,830000,4,spotify:track:4jTiyLlOJVJj3mCr7yfPQD,spotify:artist:7iZtZyCzp3LItcw1wtPI3D,1,9.500,train,0,15.0,72

In [36]:
df_train = df[df.train_test == 'train']
df_test_1 = df[(df.train_test == 'test') & (df.test_first_random==1)]#first x tracks
df_test_2 = df[(df.train_test == 'test') & (df.test_first_random==0)]#random x tracks
df_train['hold_out'] = 0

In [37]:
df.shape[0]-df_test_1.shape[0]-df_test_2.shape[0]-df_train.shape[0]

0

In [38]:
df_test_1.shape, df_test_2.shape, df_train.shape

((4973975, 10), (4963753, 10), (23274032, 11))

In [39]:
df_train.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out
0,830000,0,spotify:track:0oOCpb17DwBfvQ9Xbr9IYg,spotify:artist:0HjYETXAvcL6mzaKjAmH2K,1,10.000,train,0,15.0,72,0
1,830000,1,spotify:track:6Knv6wdA0luoMUuuoYi2i1,spotify:artist:0jnsk9HBra6NMjO2oANoPY,1,9.875,train,0,15.0,72,0
2,830000,2,spotify:track:1BfPC2cHY3m9RIstE4cjr5,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.750,train,0,15.0,72,0
3,830000,3,spotify:track:0uwmgMXqoJ7wh102MTHTN7,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.625,train,0,15.0,72,0
4,830000,4,spotify:track:4jTiyLlOJVJj3mCr7yfPQD,spotify:artist:7iZtZyCzp3LItcw1wtPI3D,1,9.500,train,0,15.0,72,0

In [40]:
#select x first tracks
df_test_1['hold_out'] = np.where(df_test_1.pos<df_test_1.seed_tracks_num,0,1)

In [41]:
df_test_2['hold_out_'] = np.where(df_test_2.pos<df_test_2.seed_tracks_num,0,1)

In [42]:
df_test_1.shape

(4973975, 11)

In [43]:
df_test_2.shape

(4963753, 11)

In [44]:
D_seed_tracks={}
for index, row in pids.iterrows():
    D_seed_tracks[row['pid']] = row['seed_tracks_num']

In [45]:
D_num_rows={}
for index, row in pids.iterrows():
    D_num_rows[row['pid']] = row['num_tracks']+1

In [46]:
D_num_rows_sorted={}
for el in list(df_test_2.pid.unique()):
    D_num_rows_sorted[el] = D_num_rows[el]

In [47]:
D_seed_tracks_sorted={}
for el in list(df_test_2.pid.unique()):
    D_seed_tracks_sorted[el] = D_seed_tracks[el]

In [48]:
hold_out_list = []
for i,el in enumerate(list(df_test_2.pid.unique())):
    l=[0]*int(D_seed_tracks_sorted[el]) + [1]*(int(D_num_rows_sorted[el])-int(D_seed_tracks_sorted[el]))
    random.shuffle(l)
    hold_out_list.extend(l)

In [49]:
len(hold_out_list)

4963753

In [50]:
df_test_2['hold_out']=hold_out_list
df_test_2.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out_,hold_out
483,830008,0,spotify:track:7yyRTcZmCiyzzJlNzGC9Ol,spotify:artist:5M0lbkGluOPXLeFjApw8r8,1,10.000000,test,0,15.0,37,0,1
484,830008,1,spotify:track:6bqtKURdSWkInAJHDkuaL0,spotify:artist:3TVXtAsR1Inumwj472S9r4,1,9.756757,test,0,15.0,37,0,0
485,830008,2,spotify:track:7xVLFuuYdAvcTfcP3IG3dS,spotify:artist:5dHt1vcEm9qb8fCyLcB3HL,1,9.513514,test,0,15.0,37,0,1
486,830008,3,spotify:track:1eQBEelI2NCy7AUTerX0KS,spotify:artist:5K4W6rqBFWDnAN6FQUkS6x,1,9.270270,test,0,15.0,37,0,1
487,830008,4,spotify:track:4ImL3v98u2BLkwnyQDjfRm,spotify:artist:5K4W6rqBFWDnAN6FQUkS6x,1,9.027027,test,0,15.0,37,0,0

In [51]:
df_test_2.drop(columns=['hold_out_'], inplace=True)

In [52]:
df_test_2.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out
483,830008,0,spotify:track:7yyRTcZmCiyzzJlNzGC9Ol,spotify:artist:5M0lbkGluOPXLeFjApw8r8,1,10.000000,test,0,15.0,37,1
484,830008,1,spotify:track:6bqtKURdSWkInAJHDkuaL0,spotify:artist:3TVXtAsR1Inumwj472S9r4,1,9.756757,test,0,15.0,37,0
485,830008,2,spotify:track:7xVLFuuYdAvcTfcP3IG3dS,spotify:artist:5dHt1vcEm9qb8fCyLcB3HL,1,9.513514,test,0,15.0,37,1
486,830008,3,spotify:track:1eQBEelI2NCy7AUTerX0KS,spotify:artist:5K4W6rqBFWDnAN6FQUkS6x,1,9.270270,test,0,15.0,37,1
487,830008,4,spotify:track:4ImL3v98u2BLkwnyQDjfRm,spotify:artist:5K4W6rqBFWDnAN6FQUkS6x,1,9.027027,test,0,15.0,37,0

In [53]:
df2=df_train.append([df_test_1,df_test_2])

In [54]:
df2.shape, df.shape

((33211760, 11), (33211760, 10))

In [55]:
temp = df_test_1.groupby('pid')['hold_out','num_tracks'].agg({'hold_out':'sum','num_tracks':'max'})
temp['num_tracks']=temp['num_tracks']+1

<ipython-input-55-b6a8a00cedea>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp = df_test_1.groupby('pid')['hold_out','num_tracks'].agg({'hold_out':'sum','num_tracks':'max'})

In [56]:
temp[temp['hold_out']>=temp['num_tracks']]

Empty DataFrame
Columns: [hold_out, num_tracks]
Index: []

In [57]:
temp[temp['hold_out']==0]

Empty DataFrame
Columns: [hold_out, num_tracks]
Index: []

In [58]:
df2.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out
0,830000,0,spotify:track:0oOCpb17DwBfvQ9Xbr9IYg,spotify:artist:0HjYETXAvcL6mzaKjAmH2K,1,10.000,train,0,15.0,72,0
1,830000,1,spotify:track:6Knv6wdA0luoMUuuoYi2i1,spotify:artist:0jnsk9HBra6NMjO2oANoPY,1,9.875,train,0,15.0,72,0
2,830000,2,spotify:track:1BfPC2cHY3m9RIstE4cjr5,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.750,train,0,15.0,72,0
3,830000,3,spotify:track:0uwmgMXqoJ7wh102MTHTN7,spotify:artist:1YXg2Chm7UfZAUAkjJEpqK,1,9.625,train,0,15.0,72,0
4,830000,4,spotify:track:4jTiyLlOJVJj3mCr7yfPQD,spotify:artist:7iZtZyCzp3LItcw1wtPI3D,1,9.500,train,0,15.0,72,0

In [59]:
df2.to_csv(f'../data-processed/scale-down/pid-track-ratings-train-test-tags-scaled-{samp}.csv', index = None)

In [61]:
df2[df2['hold_out'] == 0][['pid','track_uri','binary_rating']].to_csv(f'../data-processed/scale-down/pid-track-binary-rating-train-data-scaled-{samp}.csv', index = None)

In [62]:
df2[df2['hold_out'] == 0][['pid','track_uri','pos_rating']].to_csv(f'../data-processed/scale-down/pid-track-pos-rating-train-data-scaled-{samp}.csv', index = None)

In [63]:
evaluation_pids_ground_truth = df2[df2.train_test == 'test'][['pid','pos','track_uri','hold_out','test_first_random']]

In [64]:
evaluation_pids_ground_truth['seed_pattern'] = evaluation_pids_ground_truth['test_first_random'].map({1:'first n', 0:'random n'})

In [65]:
evaluation_pids_ground_truth[['pid','pos','track_uri','hold_out','seed_pattern']].to_csv(f'../data-processed/scale-down/evaluation-pids-ground-truth-scaled-{samp}.csv', index = None)

In [66]:
import pandas as pd
tracks_train_set=pd.read_csv(f'../data-processed/scale-down/pid-track-binary-rating-train-data-scaled-{samp}.csv')

In [67]:
tracks_train_set.head()

      pid                             track_uri  binary_rating
0  830000  spotify:track:0oOCpb17DwBfvQ9Xbr9IYg              1
1  830000  spotify:track:6Knv6wdA0luoMUuuoYi2i1              1
2  830000  spotify:track:1BfPC2cHY3m9RIstE4cjr5              1
3  830000  spotify:track:0uwmgMXqoJ7wh102MTHTN7              1
4  830000  spotify:track:4jTiyLlOJVJj3mCr7yfPQD              1

In [68]:
pd.DataFrame(list(tracks_train_set.track_uri.unique()), columns=['track_uri']).shape

(1417389, 1)

In [69]:
pd.DataFrame(list(tracks_train_set.track_uri.unique()), columns=['track_uri']).to_csv(f'../data-processed/scale-down/track-uri-train-data-scaled.csv-{samp}', index = None)