## Collaborative Filtering - extract only PID, track_uri and pos

In [1]:
import json
import numpy as np
from time import time
import pandas as pd
from pandas.io.json import json_normalize
import os
import concurrent.futures
import functools
import random
import gc
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
path = '../dataset/spotify_million_playlist_dataset/data/'

In [3]:
arr = np.empty((66346428,4), dtype = object)

In [4]:
keys = [
    'pid',
#     'name',
#     'description',
#     'num_artists',
#     'num_albums',
#     'num_tracks',
#     'num_followers',
#     'duration_ms',
#     'collaborative',
    'tracks'
]

In [5]:
t0=time()
samp = 100
filenames = os.listdir(path)
num = 0
for i, filename in enumerate(random.sample(sorted(filenames), samp)):
    if filename.startswith("mpd.slice.") and filename.endswith(".json"):
        fullpath = os.sep.join((path, filename))
        f = open(fullpath)
        js = f.read()
        f.close()
        mpd_slice = json.loads(js)
        D = pd.DataFrame(mpd_slice['playlists'])[keys]
        df = pd.DataFrame(D, columns=['pid','tracks'])
        idx = df.set_index(['pid']).tracks.apply(pd.Series).stack().index
        df = pd.DataFrame(df.set_index(['pid']).tracks.apply(pd.Series).stack().values.tolist(),index=idx).reset_index().drop('level_1',1)
        arr0 = df[['pid','pos','track_uri','artist_uri']].to_numpy()
        arr[num:num+len(df),:] = arr0
        num = num+len(df)
        
        print(filename,i)
# Time diff
print(f"Time taken: {(time()-t0)/60}")

mpd.slice.538000-538999.json 0
mpd.slice.846000-846999.json 1
mpd.slice.404000-404999.json 2
mpd.slice.975000-975999.json 3
mpd.slice.217000-217999.json 4
mpd.slice.123000-123999.json 5
mpd.slice.170000-170999.json 6
mpd.slice.539000-539999.json 7
mpd.slice.885000-885999.json 8
mpd.slice.594000-594999.json 9
mpd.slice.831000-831999.json 10
mpd.slice.849000-849999.json 11
mpd.slice.431000-431999.json 12
mpd.slice.332000-332999.json 13
mpd.slice.639000-639999.json 14
mpd.slice.292000-292999.json 15
mpd.slice.315000-315999.json 16
mpd.slice.894000-894999.json 17
mpd.slice.484000-484999.json 18
mpd.slice.957000-957999.json 19
mpd.slice.466000-466999.json 20
mpd.slice.394000-394999.json 21
mpd.slice.54000-54999.json 22
mpd.slice.870000-870999.json 23
mpd.slice.72000-72999.json 24
mpd.slice.512000-512999.json 25
mpd.slice.384000-384999.json 26
mpd.slice.807000-807999.json 27
mpd.slice.177000-177999.json 28
mpd.slice.793000-793999.json 29
mpd.slice.90000-90999.json 30
mpd.slice.909000-909999.json 31
mpd.slice.530000-530999.json 32
mpd.slice.23000-23999.json 33
mpd.slice.904000-904999.json 34
mpd.slice.694000-694999.json 35
mpd.slice.145000-145999.json 36
mpd.slice.869000-869999.json 37
mpd.slice.591000-591999.json 38
mpd.slice.28000-28999.json 39
mpd.slice.448000-448999.json 40
mpd.slice.53000-53999.json 41
mpd.slice.478000-478999.json 42
mpd.slice.596000-596999.json 43
mpd.slice.440000-440999.json 44
mpd.slice.555000-555999.json 45
mpd.slice.138000-138999.json 46
mpd.slice.218000-218999.json 47
mpd.slice.111000-111999.json 48
mpd.slice.942000-942999.json 49
mpd.slice.330000-330999.json 50
mpd.slice.267000-267999.json 51
mpd.slice.655000-655999.json 52
mpd.slice.263000-263999.json 53
mpd.slice.294000-294999.json 54
mpd.slice.443000-443999.json 55
mpd.slice.285000-285999.json 56
mpd.slice.160000-160999.json 57
mpd.slice.261000-261999.json 58
mpd.slice.916000-916999.json 59
mpd.slice.898000-898999.json 60
mpd.slice.662000-662999.json 61
mpd.slice.309000-309999.json 62
mpd.slice.373000-373999.json 63
mpd.slice.823000-823999.json 64
mpd.slice.429000-429999.json 65
mpd.slice.544000-544999.json 66
mpd.slice.227000-227999.json 67
mpd.slice.561000-561999.json 68
mpd.slice.52000-52999.json 69
mpd.slice.30000-30999.json 70
mpd.slice.526000-526999.json 71
mpd.slice.350000-350999.json 72
mpd.slice.436000-436999.json 73
mpd.slice.532000-532999.json 74
mpd.slice.503000-503999.json 75
mpd.slice.50000-50999.json 76
mpd.slice.640000-640999.json 77
mpd.slice.60000-60999.json 78
mpd.slice.601000-601999.json 79
mpd.slice.649000-649999.json 80
mpd.slice.549000-549999.json 81
mpd.slice.676000-676999.json 82
mpd.slice.371000-371999.json 83
mpd.slice.92000-92999.json 84
mpd.slice.531000-531999.json 85
mpd.slice.605000-605999.json 86
mpd.slice.940000-940999.json 87
mpd.slice.597000-597999.json 88
mpd.slice.566000-566999.json 89
mpd.slice.719000-719999.json 90
mpd.slice.444000-444999.json 91
mpd.slice.480000-480999.json 92
mpd.slice.949000-949999.json 93
mpd.slice.648000-648999.json 94
mpd.slice.790000-790999.json 95
mpd.slice.351000-351999.json 96
mpd.slice.445000-445999.json 97
mpd.slice.637000-637999.json 98
mpd.slice.68000-68999.json 99
Time taken: 1.5758172233899435

In [6]:
gc.collect()

20

In [7]:
arr.shape

(66346428, 4)

In [8]:
df = pd.DataFrame(arr)

In [9]:
df.columns=['pid','pos','track_uri', 'artist_uri']

In [14]:
df=df[df.isnull().any(axis=1)==False]

In [15]:
df.shape

(6624383, 4)

In [16]:
df.isnull().sum()

pid           0
pos           0
track_uri     0
artist_uri    0
dtype: int64

In [17]:
df.to_csv('../data-processed/scale-down/pid-track-artist-scaled.csv', index = None)

## Add binary and scaled rating

In [19]:
df = pd.read_csv('../data-processed/scale-down/pid-track-artist-scaled.csv')

In [20]:
df.head()

,pid,pos,track_uri,artist_uri
0,538000,0,spotify:track:5ihS6UUlyQAfmp48eSkxuQ,spotify:artist:08GQAI4eElDnROBrJRGE0X
1,538000,1,spotify:track:2MUc3zfngC6KRiJQNo5uHa,spotify:artist:4Ui2kfOqGujY81UcPrb5KE
2,538000,2,spotify:track:0LviM04IykLs7JEkrZV9Xm,spotify:artist:4xFUf1FHVy696Q1JQZMTRj
3,538000,3,spotify:track:10RQKVSr4rS0coExTmi4dF,spotify:artist:4xFUf1FHVy696Q1JQZMTRj
4,538000,4,spotify:track:3MOUUE92JOO8UdVTszYaJ0,spotify:artist:2Sqr0DXoaYABbjBo9HaMkM

In [21]:
df.dtypes

pid            int64
pos            int64
track_uri     object
artist_uri    object
dtype: object

### Binary scaling

In [22]:
df['binary_rating'] = 1

### Scale 1 to 10

In [23]:
df.head()

,pid,pos,track_uri,artist_uri,binary_rating
0,538000,0,spotify:track:5ihS6UUlyQAfmp48eSkxuQ,spotify:artist:08GQAI4eElDnROBrJRGE0X,1
1,538000,1,spotify:track:2MUc3zfngC6KRiJQNo5uHa,spotify:artist:4Ui2kfOqGujY81UcPrb5KE,1
2,538000,2,spotify:track:0LviM04IykLs7JEkrZV9Xm,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1
3,538000,3,spotify:track:10RQKVSr4rS0coExTmi4dF,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1
4,538000,4,spotify:track:3MOUUE92JOO8UdVTszYaJ0,spotify:artist:2Sqr0DXoaYABbjBo9HaMkM,1

In [24]:
df['pos_max'] = df.groupby('pid')['pos'].transform('max')
df['pos_rating'] = (9*(df['pos_max'] - df['pos'])/(df['pos_max']))+1
df=df.drop(columns=['pos_max'], axis =1 )

In [25]:
df.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating
0,538000,0,spotify:track:5ihS6UUlyQAfmp48eSkxuQ,spotify:artist:08GQAI4eElDnROBrJRGE0X,1,10.000000
1,538000,1,spotify:track:2MUc3zfngC6KRiJQNo5uHa,spotify:artist:4Ui2kfOqGujY81UcPrb5KE,1,9.816327
2,538000,2,spotify:track:0LviM04IykLs7JEkrZV9Xm,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.632653
3,538000,3,spotify:track:10RQKVSr4rS0coExTmi4dF,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.448980
4,538000,4,spotify:track:3MOUUE92JOO8UdVTszYaJ0,spotify:artist:2Sqr0DXoaYABbjBo9HaMkM,1,9.265306

In [26]:
df[['pid','track_uri','binary_rating','pos_rating']].to_csv('../data-processed/pid-track-ratings-scaled.csv', index = None)

## Hold out playlists for testing - to be used for R-precision and NDGC calculation

In [27]:
pids = pd.DataFrame(df.groupby('pid')['pos'].max()).reset_index()
pids.columns=['pid','num_tracks']
pids['train_test'] = np.where(np.random.rand(len(pids),1)<=0.7,'train','test')

In [28]:
pids.head()

     pid  num_tracks train_test
0  23000         150      train
1  23001           4      train
2  23002         167       test
3  23003          13      train
4  23004          82      train

In [29]:
D_num_tracks={}
for index, row in pids.iterrows():
    D_num_tracks[row['pid']] = row['num_tracks']

In [31]:
D_num_tracks[23000]

150

In [32]:
pids.describe()

                pid     num_tracks
count  100000.00000  100000.000000
mean   482429.50000      65.243830
std    271173.38325      53.539182
min     23000.00000       4.000000
25%    280749.75000      25.000000
50%    482499.50000      48.000000
75%    651249.25000      90.000000
max    975999.00000     249.000000

In [33]:
holdout_array = [0.5,0.6,0.7,0.8,0.9,0.95]
first_random = ['first','random']

In [34]:
pids['test_first_random'] = np.random.randint(0, 2, pids.shape[0])

In [35]:
pids['test_hould_out_pct'] = [random.choice(holdout_array)*100 for i in range(len(pids))]
pids['seed_tracks_num'] = np.ceil(pids['num_tracks']*(1-pids['test_hould_out_pct']/100))
pids['seed_tracks_num'] = np.where(pids['seed_tracks_num']>100,100, pids['seed_tracks_num'])

In [36]:
pids['train_test'].value_counts()

train    69791
test     30209
Name: train_test, dtype: int64

In [37]:
D_test_train={}
for index, row in pids.iterrows():
    D_test_train[row['pid']] = row['train_test']

In [38]:
D_test_first_random={}
for index, row in pids.iterrows():
    D_test_first_random[row['pid']] = row['test_first_random']

In [39]:
D_seed_tracks_num={}
for index, row in pids.iterrows():
    D_seed_tracks_num[row['pid']] = row['seed_tracks_num']

In [41]:
df['train_test'] = df['pid'].map(D_test_train)
df['test_first_random'] = df['pid'].map(D_test_first_random)
df['seed_tracks_num'] = df['pid'].map(D_seed_tracks_num)

In [42]:
df['train_test'].value_counts()

train    4629649
test     1994734
Name: train_test, dtype: int64

In [43]:
df['num_tracks'] = df['pid'].map(D_num_tracks)

In [44]:
df.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks
0,538000,0,spotify:track:5ihS6UUlyQAfmp48eSkxuQ,spotify:artist:08GQAI4eElDnROBrJRGE0X,1,10.000000,train,1,10.0,49
1,538000,1,spotify:track:2MUc3zfngC6KRiJQNo5uHa,spotify:artist:4Ui2kfOqGujY81UcPrb5KE,1,9.816327,train,1,10.0,49
2,538000,2,spotify:track:0LviM04IykLs7JEkrZV9Xm,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.632653,train,1,10.0,49
3,538000,3,spotify:track:10RQKVSr4rS0coExTmi4dF,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.448980,train,1,10.0,49
4,538000,4,spotify:track:3MOUUE92JOO8UdVTszYaJ0,spotify:artist:2Sqr0DXoaYABbjBo9HaMkM,1,9.265306,train,1,10.0,49

In [45]:
df_train = df[df.train_test == 'train']
df_test_1 = df[(df.train_test == 'test') & (df.test_first_random==1)]#first x tracks
df_test_2 = df[(df.train_test == 'test') & (df.test_first_random==0)]#random x tracks
df_train['hold_out'] = 0

In [46]:
df.shape[0]-df_test_1.shape[0]-df_test_2.shape[0]-df_train.shape[0]

0

In [47]:
df_test_1.shape, df_test_2.shape, df_train.shape

((997863, 10), (996871, 10), (4629649, 11))

In [48]:
df_train.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out
0,538000,0,spotify:track:5ihS6UUlyQAfmp48eSkxuQ,spotify:artist:08GQAI4eElDnROBrJRGE0X,1,10.000000,train,1,10.0,49,0
1,538000,1,spotify:track:2MUc3zfngC6KRiJQNo5uHa,spotify:artist:4Ui2kfOqGujY81UcPrb5KE,1,9.816327,train,1,10.0,49,0
2,538000,2,spotify:track:0LviM04IykLs7JEkrZV9Xm,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.632653,train,1,10.0,49,0
3,538000,3,spotify:track:10RQKVSr4rS0coExTmi4dF,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.448980,train,1,10.0,49,0
4,538000,4,spotify:track:3MOUUE92JOO8UdVTszYaJ0,spotify:artist:2Sqr0DXoaYABbjBo9HaMkM,1,9.265306,train,1,10.0,49,0

In [49]:
#select x first tracks
df_test_1['hold_out'] = np.where(df_test_1.pos<df_test_1.seed_tracks_num,0,1)

In [50]:
df_test_2['hold_out_'] = np.where(df_test_2.pos<df_test_2.seed_tracks_num,0,1)

In [51]:
df_test_1.shape

(997863, 11)

In [52]:
df_test_2.shape

(996871, 11)

In [53]:
D_seed_tracks={}
for index, row in pids.iterrows():
    D_seed_tracks[row['pid']] = row['seed_tracks_num']

In [54]:
D_num_rows={}
for index, row in pids.iterrows():
    D_num_rows[row['pid']] = row['num_tracks']+1

In [55]:
D_num_rows_sorted={}
for el in list(df_test_2.pid.unique()):
    D_num_rows_sorted[el] = D_num_rows[el]

In [56]:
D_seed_tracks_sorted={}
for el in list(df_test_2.pid.unique()):
    D_seed_tracks_sorted[el] = D_seed_tracks[el]

In [57]:
hold_out_list = []
for i,el in enumerate(list(df_test_2.pid.unique())):
    l=[0]*int(D_seed_tracks_sorted[el]) + [1]*(int(D_num_rows_sorted[el])-int(D_seed_tracks_sorted[el]))
    random.shuffle(l)
    hold_out_list.extend(l)

In [58]:
len(hold_out_list)

996871

In [59]:
df_test_2['hold_out']=hold_out_list
df_test_2.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out_,hold_out
137,538002,0,spotify:track:5jZ1Z2GFTf2gwmFc3qiUxs,spotify:artist:55VydwMyCuGcavwPuhutPL,1,10.000000,test,0,5.0,41,0,1
138,538002,1,spotify:track:4Q4w8aRdfhIIEhBututktL,spotify:artist:16nn7kCHPWIB6uK09GQCNI,1,9.780488,test,0,5.0,41,0,1
139,538002,2,spotify:track:7rSERmjAT38lC5QhJ8hnQc,spotify:artist:7w9jdhcgHNdiPeNPUoFSlx,1,9.560976,test,0,5.0,41,0,1
140,538002,3,spotify:track:3OP1o4AftpddkowNeZLa4F,spotify:artist:5kQGFREO5FzMBMsAO3cEtj,1,9.341463,test,0,5.0,41,0,1
141,538002,4,spotify:track:7KzNRNvOd2kbaRpOm9ENDE,spotify:artist:55VydwMyCuGcavwPuhutPL,1,9.121951,test,0,5.0,41,0,1

In [60]:
df_test_2.drop(columns=['hold_out_'], inplace=True)

In [61]:
df_test_2.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out
137,538002,0,spotify:track:5jZ1Z2GFTf2gwmFc3qiUxs,spotify:artist:55VydwMyCuGcavwPuhutPL,1,10.000000,test,0,5.0,41,1
138,538002,1,spotify:track:4Q4w8aRdfhIIEhBututktL,spotify:artist:16nn7kCHPWIB6uK09GQCNI,1,9.780488,test,0,5.0,41,1
139,538002,2,spotify:track:7rSERmjAT38lC5QhJ8hnQc,spotify:artist:7w9jdhcgHNdiPeNPUoFSlx,1,9.560976,test,0,5.0,41,1
140,538002,3,spotify:track:3OP1o4AftpddkowNeZLa4F,spotify:artist:5kQGFREO5FzMBMsAO3cEtj,1,9.341463,test,0,5.0,41,1
141,538002,4,spotify:track:7KzNRNvOd2kbaRpOm9ENDE,spotify:artist:55VydwMyCuGcavwPuhutPL,1,9.121951,test,0,5.0,41,1

In [62]:
df2=df_train.append([df_test_1,df_test_2])

In [63]:
df2.shape, df.shape

((6624383, 11), (6624383, 10))

In [64]:
temp = df_test_1.groupby('pid')['hold_out','num_tracks'].agg({'hold_out':'sum','num_tracks':'max'})
temp['num_tracks']=temp['num_tracks']+1

<ipython-input-64-b6a8a00cedea>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp = df_test_1.groupby('pid')['hold_out','num_tracks'].agg({'hold_out':'sum','num_tracks':'max'})

In [65]:
temp[temp['hold_out']>=temp['num_tracks']]

Empty DataFrame
Columns: [hold_out, num_tracks]
Index: []

In [66]:
temp[temp['hold_out']==0]

Empty DataFrame
Columns: [hold_out, num_tracks]
Index: []

In [67]:
df2.head()

,pid,pos,track_uri,artist_uri,binary_rating,pos_rating,train_test,test_first_random,seed_tracks_num,num_tracks,hold_out
0,538000,0,spotify:track:5ihS6UUlyQAfmp48eSkxuQ,spotify:artist:08GQAI4eElDnROBrJRGE0X,1,10.000000,train,1,10.0,49,0
1,538000,1,spotify:track:2MUc3zfngC6KRiJQNo5uHa,spotify:artist:4Ui2kfOqGujY81UcPrb5KE,1,9.816327,train,1,10.0,49,0
2,538000,2,spotify:track:0LviM04IykLs7JEkrZV9Xm,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.632653,train,1,10.0,49,0
3,538000,3,spotify:track:10RQKVSr4rS0coExTmi4dF,spotify:artist:4xFUf1FHVy696Q1JQZMTRj,1,9.448980,train,1,10.0,49,0
4,538000,4,spotify:track:3MOUUE92JOO8UdVTszYaJ0,spotify:artist:2Sqr0DXoaYABbjBo9HaMkM,1,9.265306,train,1,10.0,49,0

In [70]:
df2.to_csv('../data-processed/scale-down/pid-track-ratings-train-test-tags-scaled.csv', index = None)

In [71]:
df2[df2['hold_out'] == 0][['pid','track_uri','binary_rating']].to_csv('../data-processed/scale-down/pid-track-binary-rating-train-data-scaled.csv', index = None)

In [72]:
evaluation_pids_ground_truth = df2[df2.train_test == 'test'][['pid','pos','track_uri','hold_out','test_first_random']]

In [73]:
evaluation_pids_ground_truth['seed_pattern'] = evaluation_pids_ground_truth['test_first_random'].map({1:'first n', 0:'random n'})

In [74]:
evaluation_pids_ground_truth[['pid','pos','track_uri','hold_out','seed_pattern']].to_csv('../data-processed/scale-down/evaluation-pids-ground-truth-scaled.csv', index = None)

In [76]:
import pandas as pd
tracks_train_set=pd.read_csv('../data-processed/scale-down/pid-track-binary-rating-train-data-scaled.csv')

In [77]:
tracks_train_set.head()

      pid                             track_uri  binary_rating
0  538000  spotify:track:5ihS6UUlyQAfmp48eSkxuQ              1
1  538000  spotify:track:2MUc3zfngC6KRiJQNo5uHa              1
2  538000  spotify:track:0LviM04IykLs7JEkrZV9Xm              1
3  538000  spotify:track:10RQKVSr4rS0coExTmi4dF              1
4  538000  spotify:track:3MOUUE92JOO8UdVTszYaJ0              1

In [78]:
pd.DataFrame(list(tracks_train_set.track_uri.unique()), columns=['track_uri']).shape

(597313, 1)

In [79]:
pd.DataFrame(list(tracks_train_set.track_uri.unique()), columns=['track_uri']).to_csv('../data-processed/scale-down/track-uri-train-data-scaled.csv', index = None)