### This script will run over all files in `./data/tag_info/` and write to a csv in `./data/tag_info.csv`

In [1]:
import json
import os
from pprint import pprint
import csv
import pandas as pd
pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 20)

In [2]:
# Output CSV file
csv_file = open(r"./data/tag_info.csv", "w", encoding="utf8")
csv_writer = csv.writer(csv_file, lineterminator="\n")

# Loop through each file
for i, file in enumerate(os.listdir(r"./data/tag_info/")):
    with open(fr"data/tag_info/{file}", "r", encoding="utf8") as f:
        data = json.load(f)
    
    # Write to file
    if i == 0: csv_writer.writerow(data.keys())
    csv_writer.writerow(data.values())
    
    # Verbose Notification
    if i and i%10000 == 0: print(f"Finished {i} files")
print("Finished everything")

# Save file
csv_file.close()

Finished everything

### Open file with pandas to check the result

In [4]:
df = pd.read_csv(open(r"./data/tag_info.csv", "r", encoding="utf8"))
df.head()

      id            name            slug  games_count  description
0      1        Survival        survival         4052          NaN
1    100  Grand Strategy  grand-strategy          213          NaN
2   1000          sokpop          sokpop            9          NaN
3  10003         ranking         ranking            7          NaN
4  10005      corruption      corruption           24          NaN